@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div style="margin-top:70px">
        <h1>Опыт, который повышает вовлечённость</h1>
        <p>Легко создавайте и проводите конкурсы в сфере услуг</p>

        <a class="btn mb-lg-5" style="border-radius: 50px; padding: 15px 30px; background-color: #1254FF; color: white; font-size: 20px;"
           onmouseover="this.style.backgroundColor='#1F47B0';"
           onmouseout="this.style.backgroundColor='#1254FF';"
           asp-area="Identity" asp-page="/Account/Register">Попробуйте ServiceCo бесплатно</a>
    </div>

    <div style="margin-top:70px; display:inline-flex">
        <img src="~/images/People.png" alt="People at the meeting" style="width:50%" />
        <div style="text-align:left; margin-left:40px">
            <h2 style="font-size:1.5em">Для кого эта платформа:</h2>
            <h3 style="font-size:1em">Профессионалы</h3>
            <p>Cтилисты, дизайнеры, программисты, писатели, фотографы, кулинары, консультанты и другие специалисты, предоставляющие услуги своим клиентам.</p>
            <h3 style="font-size:1em"> Предприниматели и представители бизнеса</h3>
            <p>Тем, кому нужны высококачественные профессионалы.</p>
            <h3 style="font-size:1em">Все, кто интересуется развитием карьеры</h3>
            <h3 style="font-size:1em">Студенты и начинающие специалисты</h3>
            <h3 style="font-size:1em">Люди, ищущие услуги</h3>
        </div>
    </div>

    <div style="margin-top:70px">
        <h2 style="margin-bottom:25px">После регистрации вы получите:</h2>
        <div style="display:inline-flex">
            <div style="max-width:250px; font-size:1em; text-align:left">
                <h3 style="font-size:1em; font-weight:bold">Разнообразные конкурсы</h3>
                <p>У нас вы найдете различные типы конкурсов, включая индивидуальные испытания, командные соревнования и многое другое. Мы позаботились о том, чтобы каждый мог найти подходящий конкурс и показать свои лучшие качества.</p>
            </div>
            <div style="max-width:250px; text-align:left; margin-left:45px">
                <h3 style="font-size:1em; font-weight:bold">Обратная связь и оценки</h3>
                <p>Получайте обратную связь от наших экспертов и сообщества участников, чтобы узнать, где можно улучшить свои навыки. Каждый участник получает оценку, и лучшие получают заслуженное признание.</p>
            </div>
            <div style="max-width:250px; text-align:left; margin-left:45px">
                <h3 style="font-size:1em; font-weight:bold">Поднятие профиля</h3>
                <p>Наш ресурс предоставляет уникальную возможность продвижения вашего профессионального профиля. Благодаря нашим конкурсам и признанию от сообщества вы сможете улучшить свои шансы на успешную карьеру в сфере услуг.</p>
            </div>
            <div style="max-width:250px; text-align:left; margin-left:45px">
                <h3 style="font-size:1em; font-weight:bold">Новости и мероприятия</h3>
                <p>Мы регулярно обновляем наш ресурс с новостями и информацией о предстоящих мероприятиях. Будьте в курсе последних событий в сфере услуг и не упустите возможности участвовать в захватывающих конкурсах.</p>
            </div>
        </div>
    </div>

    <img src="/images/Home - s4.png" alt="Section text 4" style="max-width:100%; height:auto; margin-top:70px" class="mb-ld-5" />
    
    <h2 style="margin-top:70px">Создайте ваш первый конкурс <strong style="color:red">сейчас</strong></h2>
    <p style="font-size:1.5em">Service<span style="color:red">Co</span> позволяет создавать конкурсы, выбирать победителей и др.</p>



    <a class="btn mb-5" style="border-radius: 50px; padding: 15px 30px; background-color: #1254FF; color: white; font-size: 20px;"
       onmouseover="this.style.backgroundColor='#1F47B0';"
       onmouseout="this.style.backgroundColor='#1254FF';"
       asp-area="Identity" asp-page="/Account/Register">Начать</a>

    <img src="/images/Home - s6.png" alt="Section text 6" style="max-width:100%; height:auto" class="mb-1" />
</div>