@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/images/Home - s1.png" alt="Section text 1" style="max-width:100%; height:auto" />

    <a class="btn mb-lg-5" style="border-radius: 50px; padding: 15px 30px; background-color: #1254FF; color: white; font-size: 20px;"
       onmouseover="this.style.backgroundColor='#1F47B0';"
       onmouseout="this.style.backgroundColor='#1254FF';"
       asp-area="Identity" asp-page="/Account/Register">Попробуйте ServiceCo бесплатно</a>

    <img src="/images/Home - s2.png" alt="Section text 2" style="max-width:100%; height:auto" class="mb-lg-5" />
    <img src="/images/Home - s3.png" alt="Section text 3" style="max-width:100%; height:auto" class="mb-lg-5" />
    <img src="/images/Home - s4.png" alt="Section text 4" style="max-width:100%; height:auto" class="mb-ld-5" />
    <img src="/images/Home - s5.png" alt="Section text 5" style="max-width:100%; height:auto" class="mb-lg-5 " />

    <a class="btn mb-5" style="border-radius: 50px; padding: 15px 30px; background-color: #1254FF; color: white; font-size: 20px;"
       onmouseover="this.style.backgroundColor='#1F47B0';"
       onmouseout="this.style.backgroundColor='#1254FF';"
       asp-area="Identity" asp-page="/Account/Register">Начать</a>

    <img src="/images/Home - s6.png" alt="Section text 6" style="max-width:100%; height:auto" class="mb-1" />
</div>